---
layout: default
---

<h1><strong>{{ page.title }}</strong></h1>

{% assign modset = site.data.modules[page.module] %}

{% if modset.description %}
<p>
    {{ modset.description }}
</p>
{% endif %}

{% if modset.goback %}
<hr>

<h2><strong><a href="/tour/modules/{{ modset.goback }}">Back to {{ page.parent }}</a></strong></h2>
{% endif %}

{% if modset.visible and modset.visible.size > 0 %}
<hr>

<h2><strong>Available Options</strong></h2>

<table style="width:100%; table-layout:fixed;">
    <colgroup>
        <col style="width:80px;">
        <col style="width:200px;">
        <col style="width:auto;">
    </colgroup>

    <thead>
    <tr>
        <th style="text-align:center;">Glyph</th>
        <th style="text-align:left;">Option</th>
        <th style="text-align:left;">Description</th>
    </tr>
    </thead>

    <tbody>
    {% for mod in modset.visible %}
    <tr>
        <td style="text-align:center;">
            <img src="/tour/assets/glyphs/{{ page.module }}/{{ mod.icon }}.png"
                 style="filter:invert(100%); max-width:48px;">
        </td>
        <td>
            {% if mod.link %}
            <a href="/tour/modules/{{ mod.link }}"><strong>{{ mod.name }}</strong></a>
            {% else %}
            <strong>{{ mod.name }}</strong>
            {% endif %}
        </td>
        <td>{{ mod.desc }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if modset.hidden and modset.hidden.size > 0 %}
<hr>

<h2><strong>Hidden Options</strong></h2>

<table style="width:100%; table-layout:fixed;">
    <colgroup>
        <col style="width:200px;">
        <col style="width:auto;">
    </colgroup>

    <thead>
    <tr>
        <th style="text-align:left;">Option</th>
        <th style="text-align:left;">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for mod in modset.hidden %}
    <tr>
        <td>
            {% if mod.link %}
            <a href="/tour/modules/{{ mod.link }}"><strong>{{ mod.name }}</strong></a>
            {% else %}
            <strong>{{ mod.name }}</strong>
            {% endif %}
        </td>
        <td>{{ mod.desc }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if modset.tip and modset.tip.size > 0 %}
<hr>

<h2><strong>Quick Tips</strong></h2>

<ul>
    {% for mod in modset.tip %}
    <li>{{ mod.info | markdownify }}</li>
    {% endfor %}
</ul>
{% endif %}